In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [42]:
kaggle_dataset = pd.read_csv('kaggle_dataset.csv')
codalab_data = pd.read_csv('trial_data.csv')
print(codalab_data.iloc[:,2].values)

[1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 0 1 0 1 1 1 0 1 1 0 1 1 1 1 0 1
 0 1 1 1 0 0 0 1 0 1 1 0 0 1 1 1 1 1 0 1 0 1 0]

In [41]:
# to use is_humor_all == 1 for find co-relation
codalab_humor_data = codalab_data[codalab_data['is_humor_all'] == 1]
codalab_humor_data = codalab_humor_data.iloc[:, 1:10]
codalab_humor_data

,text,is_humor_all,funniness_all,funniness_female,funniness_male,funniness_18_25,funniness_26_40,funniness_41_55,funniness_56_70
0,It's been confirmed by People Magazine that Br...,1,2.188,2.188,2.619,2.455,2.364,2.778,2.000
1,How does a Jew make his tea? Hebrews it!,1,2.800,2.800,2.842,2.636,2.818,3.143,2.800
5,5 Years ago today I asked a beautiful girl out...,1,2.917,2.917,1.941,2.111,2.273,2.667,NaN
6,"Sometimes I run alongside trains, tearfully wa...",1,2.938,2.938,2.611,2.818,2.800,2.500,3.000
7,What is the Terminators Muslim name? Al Bi Baq,1,2.235,2.235,2.050,2.100,2.182,2.500,1.500
8,What do you call an overweight homosexual? Jig...,1,1.375,1.375,1.824,1.600,1.636,1.714,1.400
9,"Woman: ""Can you please call me a taxi?"" Man: ""...",1,2.333,2.333,2.222,1.778,2.111,2.333,3.167
10,What did the two tampons have in common? They ...,1,1.941,1.941,2.579,2.727,2.818,1.444,1.600
11,Every religion has violent people... ... The C...,1,1.688,1.688,2.300,2.091,1.909,2.375,1.667
12,The church apparently thinks that gay and lesb...,1,2.643,2.643,2.692,2.875,3.000,2.125,2.750
13,Apparently I have a black person in my family ...,1,1.067,1.067,1.316,1.273,1.364,1.000,1.000
14,Mattel released a Muslim Barbie... It's a blow...,1,1.647,1.647,1.850,1.727,2.000,1.700,1.500
15,"I was walking through town yesterday, when I c...",1,2.500,2.500,2.579,2.200,2.545,2.714,3.000
17,Why should you never play Uno with a Mexican? ...,1,1.765,1.765,2.095,1.909,2.273,2.200,1.000
18,What do you call a gay cowboy? A jolly rancher.,1,2.438,2.438,2.350,2.545,2.455,2.444,1.800
20,"On his first day, my gay friend lost his job a...",1,1.875,1.875,2.263,2.545,2.300,1.875,1.167
22,I was walking down the street when I saw black...,1,1.133,1.133,1.529,1.364,1.500,1.333,1.000
24,Q: How did a blind woman pierce her ear? A: An...,1,2.059,2.059,1.850,2.273,1.909,1.889,1.500
25,"Back in my day, we didn't have computers or th...",1,2.733,2.733,2.632,3.222,3.000,2.111,2.000
26,I was getting a handjob from this blind hooker...,1,2.353,2.353,2.737,2.700,2.909,2.300,2.000
28,PSA: If you've got an Islamic dog... Muslim,1,1.429,1.429,1.412,1.300,1.455,1.714,1.000
29,Do you know how to make a Venetian Blind? Poke...,1,2.467,2.467,1.750,2.000,1.455,2.250,3.000
31,"Wife: Honey, i think you don't love our kids e...",1,1.667,1.667,2.412,2.111,2.100,2.000,2.000
32,I don't see why so many Americans are anti-gay...,1,2.625,2.625,2.650,3.182,2.800,2.222,2.000
33,What do you call an Asian woman on the moon? A...,1,1.643,1.643,1.500,1.667,1.556,1.571,NaN
34,I was asked how I view lesbian relationships. ...,1,2.294,2.294,2.857,2.636,2.818,2.300,2.667
36,Iron Man is a super hero. Iron Woman is a comm...,1,1.588,1.588,2.105,1.818,2.100,1.778,1.667
38,How did a sexy but unqualified Japanese woman ...,1,1.765,1.765,2.158,1.900,2.364,2.000,1.200
39,Why didn't Peter Jackson cast any black actors...,1,2.375,2.375,2.125,2.100,2.300,2.375,2.250
40,Did you hear about the fish that went deaf? It...,1,2.824,2.824,2.100,2.182,2.091,2.778,3.000
44,Women say they like a man in uniform but I've ...,1,2.588,2.588,2.500,2.600,2.800,2.400,2.200
46,What is black and stuck to the ceiling? A crap...,1,1.882,1.882,1.600,1.545,2.000,1.889,1.333
47,It's funny how liberals think Donald Trump opp...,1,1.182,1.182,1.923,2.143,1.333,1.571,1.000
50,What do you call a fruit that is a vegetable? ...,1,1.250,1.250,1.571,2.000,1.182,1.200,1.200
51,I went to the doctors with hearing problems......,1,3.176,3.176,2.150,2.636,2.182,2.700,3.400
52,Why did the Muslim cross the road? To get to t...,1,1.529,1.529,1.333,1.727,1.273,1.500,1.000
53,What did the bottle of milk say to the Mexican...,1,2.312,2.312,2.167,2.300,2.200,2.500,1.833
54,Whats better than winning gold at the paralymp...,1,1.529,1.529,2.000,2.091,2.091,1.600,1.000
56,We should really use the blackjack scale to ra...,1,1.571,1.571,2.118,2.000,2.111,1.429,1.800
58,"Oh my god, you've gotten so fat! Want me to ma...",1,3.071,3.071,2.000,2.625,2.111,2.300,3.500

In [16]:
print(codalab_humor_data.isnull().sum())
from sklearn.impute import SimpleImputer 
# Filling Mising data with Most_frequent
constant_imputer=SimpleImputer(strategy='most_frequent')
codalab_humor_data.iloc[:,:]=constant_imputer.fit_transform(codalab_humor_data)
print(codalab_humor_data.isnull().sum())
codalab_humor_data_without_text = codalab_humor_data.iloc[:,2:]

text                0
is_humor_all        0
funniness_all       0
funniness_female    0
funniness_male      0
funniness_18_25     0
funniness_26_40     0
funniness_41_55     0
funniness_56_70     0
dtype: int64
text                0
is_humor_all        0
funniness_all       0
funniness_female    0
funniness_male      0
funniness_18_25     0
funniness_26_40     0
funniness_41_55     0
funniness_56_70     0
dtype: int64

In [17]:
# finding Correlation between colums in data set (NO text and is_humor_all columns in this)
corr_matrix = codalab_humor_data_without_text.corr().abs()
corr_matrix

,funniness_all,funniness_female,funniness_male,funniness_18_25,funniness_26_40,funniness_41_55,funniness_56_70
funniness_all,1.000000,1.000000,0.592756,0.714220,0.671042,0.828319,0.774556
funniness_female,1.000000,1.000000,0.592756,0.714220,0.671042,0.828319,0.774556
funniness_male,0.592756,0.592756,1.000000,0.823179,0.907972,0.621939,0.542076
funniness_18_25,0.714220,0.714220,0.823179,1.000000,0.795291,0.510594,0.514034
funniness_26_40,0.671042,0.671042,0.907972,0.795291,1.000000,0.578452,0.459289
funniness_41_55,0.828319,0.828319,0.621939,0.510594,0.578452,1.000000,0.650572
funniness_56_70,0.774556,0.774556,0.542076,0.514034,0.459289,0.650572,1.000000

In [52]:
codalab_data_copy = codalab_data.iloc[:, 3:10]
corr_matrix1 = codalab_data_copy.corr().abs()
corr_matrix1

,funniness_all,funniness_female,funniness_male,funniness_18_25,funniness_26_40,funniness_41_55,funniness_56_70
funniness_all,1.000000,1.000000,0.658588,0.715970,0.613538,0.577606,0.832731
funniness_female,1.000000,1.000000,0.658588,0.715970,0.613538,0.577606,0.832731
funniness_male,0.658588,0.658588,1.000000,0.828453,0.866398,0.470491,0.620650
funniness_18_25,0.715970,0.715970,0.828453,1.000000,0.787222,0.426350,0.540436
funniness_26_40,0.613538,0.613538,0.866398,0.787222,1.000000,0.544175,0.415606
funniness_41_55,0.577606,0.577606,0.470491,0.426350,0.544175,1.000000,0.388943
funniness_56_70,0.832731,0.832731,0.620650,0.540436,0.415606,0.388943,1.000000

In [43]:
# Most frequesnt Method to fill missing data
constant_imputer=SimpleImputer(strategy='most_frequent')
codalab_data.iloc[:,:]=constant_imputer.fit_transform(codalab_data)

In [53]:
cols = ['funniness_male', 'funniness_26_40']
x = codalab_data[cols]
y = codalab_data['is_humor_all']
print(len(x))
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.16,random_state=1111)
len(X_train)

60

50

In [48]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(random_state=101)
scores_accuracy = cross_val_score(logreg, X_train,y_train, cv=5, scoring='accuracy')
scores_log_loss = cross_val_score(logreg, X_train, y_train, cv=5, scoring='neg_log_loss')
print("scores_accuracy Array: ", scores_accuracy)
print(logreg.__class__.__name__+" average accuracy is %2.3f" % scores_accuracy.mean())
print(logreg.__class__.__name__+" average log_loss is %2.3f" % -scores_log_loss.mean())

scores_accuracy Array:  [0.7 0.7 0.7 0.6 0.6]
LogisticRegression average accuracy is 0.660
LogisticRegression average log_loss is 0.588

In [62]:
# Using Linear regression to predict
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
#x.reshape((-1,1))
#w=x.values.reshape(-1,1)
linreg.fit(x, y)
r_sq = linreg.score(x, y)
print('coefficient of determination:', r_sq)
print('intercept:', linreg.intercept_)
print('slope:', linreg.coef_)

coefficient of determination: 0.38964979208823447
intercept: -0.0762436681250448
slope: [ 1.58841356 -1.16315551]

In [63]:
y_pred = linreg.predict(x)
print(y_pred)

[1.33411182 1.16025544 0.40690014 0.40690014 0.40690014 0.36301458
 0.81426871 0.64199881 0.91810025 0.99778998 0.74250268 1.35664365
 0.71029911 0.42756446 0.5360104  1.06004413 0.40690014 0.60763027
 0.80098142 0.40690014 0.84307855 0.40690014 0.6077074  0.40690014
 0.64185755 0.6149943  0.88762487 0.40690014 0.47420501 1.0110888
 0.40690014 1.31238327 0.87621684 0.4965067  1.18408165 0.40690014
 0.82474031 0.40690014 0.60185317 0.62387748 0.82726664 0.40690014
 0.40690014 0.40690014 0.63795481 0.40690014 0.13890701 1.42778931
 0.40690014 0.40690014 1.04430422 0.80084016 0.56041464 0.8069064
 0.66842528 0.40690014 0.83259497 0.40690014 0.64516217 0.40690014]

In [65]:
y_pred1 = linreg.intercept_ + linreg.coef_ * x
print(y_pred1)

    funniness_male  funniness_26_40
0         4.083811        -2.825943
1         4.438028        -3.354016
2         2.862321        -2.531665
3         2.862321        -2.531665
4         2.862321        -2.531665
5         3.006867        -2.720096
6         4.071104        -3.333079
7         3.180004        -2.614249
8         2.821023        -1.979166
9         3.453211        -2.531665
10        4.020275        -3.354016
11        3.577108        -2.296708
12        4.199766        -3.565710
13        2.014109        -1.662788
14        2.862321        -2.402555
15        4.020275        -3.036474
16        2.862321        -2.531665
17        3.251483        -2.720096
18        3.656528        -2.931790
19        2.862321        -2.531665
20        3.518336        -2.751501
21        2.862321        -2.531665
22        2.352441        -1.820977
23        2.862321        -2.531665
24        2.862321        -2.296708
25        4.104461        -3.565710
26        4.271244        -3.459863
27        2.862321        -2.531665
28        2.166596        -1.768635
29        2.703480        -1.768635
30        2.862321        -2.531665
31        3.755010        -2.518870
32        4.133052        -3.333079
33        2.306377        -1.886114
34        4.461854        -3.354016
35        2.862321        -2.531665
36        3.267367        -2.518870
37        2.862321        -2.531665
38        3.351553        -2.825943
39        3.299135        -2.751501
40        3.259425        -2.508402
41        2.862321        -2.531665
42        2.862321        -2.531665
43        2.862321        -2.531665
44        3.894790        -3.333079
45        2.862321        -2.531665
46        2.465218        -2.402555
47        2.978276        -1.626730
48        2.862321        -2.531665
49        2.862321        -2.531665
50        2.419154        -1.451093
51        3.338845        -2.614249
52        2.041112        -1.556941
53        3.365849        -2.635186
54        3.100583        -2.508402
55        2.862321        -2.531665
56        3.288016        -2.531665
57        2.862321        -2.531665
58        3.100583        -2.531665
59        2.862321        -2.531665

In [67]:
# or we can predict in this way
import numpy as np
y_pred2 = linreg.intercept_ + np.sum(linreg.coef_ * x, axis=1)
print(y_pred2)

0     1.334112
1     1.160255
2     0.406900
3     0.406900
4     0.406900
5     0.363015
6     0.814269
7     0.641999
8     0.918100
9     0.997790
10    0.742503
11    1.356644
12    0.710299
13    0.427564
14    0.536010
15    1.060044
16    0.406900
17    0.607630
18    0.800981
19    0.406900
20    0.843079
21    0.406900
22    0.607707
23    0.406900
24    0.641858
25    0.614994
26    0.887625
27    0.406900
28    0.474205
29    1.011089
30    0.406900
31    1.312383
32    0.876217
33    0.496507
34    1.184082
35    0.406900
36    0.824740
37    0.406900
38    0.601853
39    0.623877
40    0.827267
41    0.406900
42    0.406900
43    0.406900
44    0.637955
45    0.406900
46    0.138907
47    1.427789
48    0.406900
49    0.406900
50    1.044304
51    0.800840
52    0.560415
53    0.806906
54    0.668425
55    0.406900
56    0.832595
57    0.406900
58    0.645162
59    0.406900
dtype: float64

In [70]:
# using Statsmodel OLS method to predict
import statsmodels.api as sm
model = sm.OLS(y, x)
results = model.fit()
print(results.summary())
print("-----------------------------------------------------")
print('coefficient of determination:', results.rsquared)
print('adjusted coefficient of determination:', results.rsquared_adj)
print('regression coefficients:', results.params)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:           is_humor_all   R-squared (uncentered):                   0.796
Model:                            OLS   Adj. R-squared (uncentered):              0.789
Method:                 Least Squares   F-statistic:                              113.4
Date:                Thu, 29 Oct 2020   Prob (F-statistic):                    9.16e-21
Time:                        01:00:54   Log-Likelihood:                         -25.242
No. Observations:                  60   AIC:                                      54.48
Df Residuals:                      58   BIC:                                      58.67
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
funniness_male      1.5621      0.245      6.385      0.000       1.072       2.052
funniness_26_40    -1.1725      0.232     -5.054      0.000      -1.637      -0.708
==============================================================================
Omnibus:                       28.506   Durbin-Watson:                   2.186
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                4.750
Skew:                           0.160   Prob(JB):                       0.0930
Kurtosis:                       1.659   Cond. No.                         20.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
-----------------------------------------------------
coefficient of determination: 0.7962785240822566
adjusted coefficient of determination: 0.7892536456023345
regression coefficients: funniness_male     1.562060
funniness_26_40   -1.172548
dtype: float64

In [73]:
# SM OlS Method to predict
print('predicted response:', results.fittedvalues)

predicted response: 0     1.319132
1     1.135135
2     0.414562
3     0.414562
4     0.414562
5     0.366757
6     0.795405
7     0.643724
8     0.930909
9     0.995649
10    0.724313
11    1.354344
12    0.687422
13    0.456316
14    0.544715
15    1.044418
16    0.414562
17    0.607314
18    0.792236
19    0.414562
20    0.838082
21    0.414562
22    0.629568
23    0.414562
24    0.651417
25    0.593698
26    0.864416
27    0.414562
28    0.499572
29    1.027548
30    0.414562
31    1.305338
32    0.856325
33    0.518605
34    1.158565
35    0.414562
36    0.825786
37    0.414562
38    0.599022
39    0.622517
40    0.828528
41    0.414562
42    0.414562
43    0.414562
44    0.622016
45    0.414562
46    0.154200
47    1.440835
48    0.414562
49    0.414562
50    1.068045
51    0.799930
52    0.589573
53    0.805379
54    0.672322
55    0.414562
56    0.833194
57    0.414562
58    0.648871
59    0.414562
dtype: float64

In [74]:
# SM OlS Method to predict
print('predicted response 1:', results.predict(x))

predicted response 1: 0     1.319132
1     1.135135
2     0.414562
3     0.414562
4     0.414562
5     0.366757
6     0.795405
7     0.643724
8     0.930909
9     0.995649
10    0.724313
11    1.354344
12    0.687422
13    0.456316
14    0.544715
15    1.044418
16    0.414562
17    0.607314
18    0.792236
19    0.414562
20    0.838082
21    0.414562
22    0.629568
23    0.414562
24    0.651417
25    0.593698
26    0.864416
27    0.414562
28    0.499572
29    1.027548
30    0.414562
31    1.305338
32    0.856325
33    0.518605
34    1.158565
35    0.414562
36    0.825786
37    0.414562
38    0.599022
39    0.622517
40    0.828528
41    0.414562
42    0.414562
43    0.414562
44    0.622016
45    0.414562
46    0.154200
47    1.440835
48    0.414562
49    0.414562
50    1.068045
51    0.799930
52    0.589573
53    0.805379
54    0.672322
55    0.414562
56    0.833194
57    0.414562
58    0.648871
59    0.414562
dtype: float64